* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}


/* header */
header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #0038FF;
    color: white;
}


.mainContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: calc(100vh - 200px);
}

/* sidebar */
.sidebar {
    width: 20%;
    height: 100%;
    background-color: #D9D9D9;
}

/* content */
.content {
    position: relative;
    width: 80%;
    height: 100%;
}

/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: #0038FF;
}

.burger {
    display: none;
}

/* .element {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
} */

@media screen and (max-width: 1024px) {
    /* .element {
        opacity: 1;
        visibility: visible;
    } */
    .sidebar {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        /* background-color: #D9D9D9; */
        background-color: red;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .content {
        width: 100%;
        height: 100%;
    }

    .burger {
        position: absolute;
        top: 50%;
        right: 20px;
        /* left: 50%; */
        background: red;
        width: 48px;
        height: 48px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        transform: translateY(-50%);
        /* transform: translate(-50%, -50%); */
    }
    
    .burger .line {
        width: 100%;
        height: 4px;
        background-color: #ffffff;
        transition: all 0.25s ease-in-out;
    }
    

    .burger .line:nth-child(2) {
        transition: width 0.25s ease-in-out;
    }

    .burger.open .line:nth-child(2) {
        width: 0;
    }
    
    .burger.open .line:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 8px);
    }
    
    .burger.open .line:nth-child(3) {
        transform: rotate(45deg) translate(-2px, -6px);
    }
    
}


/* login page */
.mainContentLogin {
    width: 100%;
    height: 100vh;
    background-color: #0038FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginContent {
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
}

.inputGroup {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px 20px;
    /* border: 1px solid #0038FF; */
    background-color: #f7f7f7;
    border-radius: 8px;
}

input[type="email"]:focus, input[type="password"]:focus {
    background-color: red;
}

.button, input[type="submit"] {
    background-color: #0038FF;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #0038FF;
    border-radius: 8px;
    /* transition: all 0.25s ease-in-out; */
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

button:hover, input[type="submit"]:hover {
    background-color: #ffffff;
    color: #0038FF;
    border: 1px solid #0038FF;
    border-radius: 8px;
}







